const Command = require('../classes/command.js');
/** 
    @settings
    @attribute {slug} - string | How command can be executed
    @attribute {description} - string | About command in detailed help
    @attribute {category} - string | Splits in command list by category

    @attribute {usages} - array of string | Shows in help how to use the command - prefix in start will be added automaticaly
    @attribute {aliases} - array of strings | execute aliases
    @attribute {permissions} - array of strings | discord server permissions | https://discord.js.org/#/docs/main/stable/class/Permissions
    @attribute {whiteListedUsers} - array of strings, | list of whitelisted users id
    
    @attribute {isHidden} - boolean | Hide command in help list
    @attribute {isPrivate} - boolean | allows only .env configured admins or command whitelisted users execute this command

*/
class TemplateCommand extends Command {

    constructor(client) {
        super(client, {
            slug: 'useless',
            description: 'Template command',
            category: 'Uncategorized',
            aliases: [],
            usages: [],
            permissions: [],
            whiteListedUsers: [],
            isHidden: false,
            isPrivate: false,
        });
    }

    executeCustom(message, args) {
        message.channel.send('The useless command');
    }
}

module.exports = TemplateCommand;